.DS_Store
*.project
*.prefs
*.lock
*.bin
*.classpath

Code/Libraries/RESTLibrary/build/*
Code/HighLevelAPI/.*
Code/HighLevelAPI/gradle/*
Code/HighLevelAPI/gradlew/*
Code/HighLevelAPI/bin/*
Code/Libraries/RESTLibrary/.project
Code/Libraries/RESTLibrary/.gradle/4.8.1/fileChanges/last-build.bin
Code/Libraries/RESTLibrary/.gradle/4.8.1/fileHashes/fileHashes.lock
Code/Libraries/RESTLibrary/.settings/org.eclipse.buildship.core.prefs
Code/Libraries/RESTLibrary/.gradle/vcsWorkingDirs/gc.properties
Code/HighLevelAPI/build/test-results/test/binary/output.bin.idx
Code/HighLevelAPI/build/test-results/test/TEST-ie.tcd.wayfinder.highlevel.navigation.LibraryTest.xml
Code/HighLevelAPI/build/reports/tests/test/index.html
Code/HighLevelAPI/build/reports/tests/test/classes/ie.tcd.wayfinder.highlevel.navigation.LibraryTest.html
Code/HighLevelAPI/build/reports/tests/test/packages/ie.tcd.wayfinder.highlevel.navigation.html
Code/HighLevelAPI/build/test-results/test/binary/results.bin
Code/HighLevelAPI/build/test-results/test/binary/output.bin